.btn {
  background-color: var(--color-primary);
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
}

.title {
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
}

svg:focus {
  outline: none;
}
